# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# NuGet
*.nupkg
.nuget/
packages/

# Logs
*.log
C:\NetWatchService\log.txt

# Publish
publish/

# Others
*.DS_Store
